:root {
  --color-primary: #239BD6;
}

body {
  font-size: 16px !important;
}

.Libelle,
.MenuBleu,
.Ferme,
#elementChapitres .chapitreLi,
#elementChapitres .MenuBlue,
.MenuBlue,
.MenuBlack {
  font-size: 16px;
}

table td {
  padding: 4px;
}

.accueilModules__element a {
  display: inline-block;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 6px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
  padding: 8px 16px;
}

a.TopBlue {
  font-size: 16px !important;
  background-color: var(--color-primary);
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 5px;
}

li.TopBlue {
  list-style-type: none;

}

td.EtatC {
  background-color: #aadcca;
  font-weight: bold;
}

div.modules {
  padding: 2rem 0;
}

a.modules__module,  .modules__module--selected, .modules__accueil {
  font-size: 16px !important;
}
